name: Safe Production Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Safe Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/DemoApp

            echo "Pulling safely..."
            git fetch origin

            # Force update ONLY tracked files
            git checkout main
            git reset --hard origin/main

            echo "Deployment completed safely"
